.sidebar {
    flex: 0.3;
    background-color: #2E3136;
    display: flex;
    flex-direction: column;
}

.toolbar {
    background-color: #212327;
    margin: 28px;
    border-radius: 20px;
    font-size: 16px;
    display: flex;
}

.toolbar .search {
    background-color: #212327;
    flex: 0.6;
    border: none;
    color: #898A8C;
    margin: 14px;
}

.toolbar select {
    background-color: #212327;
    flex: 0.25;
    border: none;
    color: #898A8C;
    padding: 0 7px;
    border-left: 1px solid #494C4F;
}

.toolbar .add-icon{
    border-left: 1px solid #494C4F;
    flex: 0.15;
    margin-left: 7px;
    text-align: center;
}

.sidebar hr {
    border: none;
    border-bottom: 1px solid #494C4F;
}