.error {
    background-color: #212327;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.error .icon {
    color: red;
    font-size: 25vw;
}

.error h1 {
    color: red;
}